<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>新增電子零件用途</title>
</head>
<body>
  <br>
    <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-xs-12 col-lg-8">
            <h2>新增電子零件用途</h2>
            <form method="post" action="/comp/create/save">
              <div class="form-group">
                <label for="item">零件編號</label>
                <input
                  name="Mouser_Number"
                  type="text"
                  class="form-control"
                  id="Mouser_Number"
                  value="<%= option%>"
                />
              </div>
              <div class="form-group">
                <label for="account">產品名</label>
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  id="name"
                />
              </div>
              <div class="form-group">
                <label for="account">PCB 位置</label>
                <input
                  name="setting"
                  type="text"
                  class="form-control"
                  id="setting"
                />
              </div>
              <br>
              <button type="submit" class="btn btn-primary btn-block">新增</button>
            </form>
          </div>
        </div>
      </div>
</body>
</html>